<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart-list-items">
                    <% products.forEach(p => { %>
                        <li class="cart-list-item">
                            <p><%= p.productData.title %> (<%= p.qty %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productData.id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="cart-total-price">
                    Total Price = <%= totalPrice %>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>